importFrom("overlap", overlapEst, getBandWidth, densityFit, overlapPlot, densityPlot)
importFrom("grDevices", col2rgb, dev.off, extendrange, png,
           rgb)
importFrom("graphics", abline, axis, box, grconvertX, grconvertY,
           hist, legend, lines, mtext, par, plot, plot.default, 
           points, polygon, rect, segments, strheight, strwidth,
           text)
importFrom("stats", aggregate, na.omit)
importFrom("utils", modifyList, write.csv, zip)
importFrom("methods", hasArg, is)
importFrom("utils", head, menu)
importFrom("sp", CRS, SpatialPointsDataFrame, coordinates)
importFrom("secr", read.traps, make.capthist, traps, RMarkInput, usage, covariates)

export(activityDensity, activityHistogram, activityOverlap, activityRadial, addCopyrightTag,  appendSpeciesNames, cameraOperation, checkSpeciesIdentification, checkSpeciesNames, createSpeciesFolders, createStationFolders, detectionHistory, detectionMaps, exifTagNames, exiftoolPath, fixDateTimeOriginal, getSpeciesImages, imageRename, recordTable, recordTableIndividual, spatialDetectionHistory, surveyReport, timeShiftImages)